.patient-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    max-width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 16px auto;
    background-color: #f9f9f9;
}

.patient-card h2 {
    margin-top: 0;
    font-size: 1.5em;
    color: #333;
}

/* PatientCard.css */

.chat-link {
    border-radius: 8px;
    display: block;
    margin-top: 10px;
    font-size: 1rem;
    color: #ffffff;
    text-decoration: none;
    background-color: #37a0dd;
    height: 25px;
    width: 100%;
    font-size: large;
}

.chat-link:hover {
    background-color: #2a77a3;
}


.patient-card p {
    margin: 8px 0;
    font-size: 1em;
    color: #666;
}

.patient-card p strong {
    color: #000;
}

.patient-card-button {
    display: inline-block;
    margin-top: 12px;
    padding: 8px 16px;
    text-decoration: none;
    color: #fff;
    background-color: #37a0dd;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.patient-card-button:hover {
    background-color: #2a77a3;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}